# ===================================================
# PharmaHealth Backend Environment Variables (.env)
# ===================================================
PORT=8080
SPRING_DATASOURCE_URL=jdbc:mysql://mysql-21-ayushpal-2c43.a.aivencloud.com:20661/defaultdb?sslMode=REQUIRED
SPRING_DATASOURCE_USERNAME=avnadmin
SPRING_DATASOURCE_PASSWORD=your_aiven_password_here
SPRING_JPA_HIBERNATE_DDL_AUTO=update
JWT_SECRET=9a618248b64db62d15b300a07b0058e10b43631ff1ac15d1b777e7b92dec68d9
JWT_EXPIRATION=86400000
